
.right-section{
background-color: blue;color: #fff;padding: 20px;
}

.left-section{
background-color: blue;color: #fff;padding: 20px;
}


}

/*mobile landscape*/
@media (min-width: 481px) and (max-width: 599px) { 
	h1{
		font-size:12px;
	}
}


/* small tablet portrait*/
@media (min-width: 600px) and (max-width: 767px) {
	h1{
		font-size:24px;
	}
}

/*Tablet landscape (1024x768)*/

@media (min-width: 960px) and (max-width: 1199px) {
h1{
		font-size:48px;
	} 
}